build/
.ccls-cache/
.cache/
quad_viz.blend
GPATH
GRTAGS
GTAGS
buid

##### Emacs
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

##### Kate
*.kate-swp
